<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contact</title>
</head>
<body>
  <h1>Eploring template render uisng normal urls</h1>
  <h3>hi contact page ☎️</h3>
  <h2>Adding aboyt and index page links uisng a(anchor tag)</h2>
  <a href="/">index</a>
  <a href="/about">about</a>

  <br><br>
  <h2>Exploring namespace url connections</h2>
  <a href="{% url 'index' %}">Index</a>
  <a href="{% url 'about' %}">About</a>
</body>
</html>